<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="../../sources/css/normalize.css">
    <link rel="stylesheet" href="../../sources/css/slime.css">
    <link rel="stylesheet" href="css/cleancss.css">
    <title>Perfil</title>
    <!-- fonts -->
    <script src="https://kit.fontawesome.com/572b6f1886.js" crossorigin="anonymous"></script>
    <!-- fonts -->
</head>

<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="filter">
                <i class="fas fa-search header__icon search-icon"></i>
                <input type="text" id="filter" class="filter__input">
            </div>
            <div class="header__menu">
                <button class="button header__button button--menu-icon">
                    <i class="fas fa-bars"></i>
                </button>
                <button class="button header__button">
                    <i class="fas fa-briefcase"></i>
                </button>
                <button class="button header__button header__button--flex">
                    <span class="button__username">
                        User#0000
                    </span>
                    <i class="fas fa-user"></i>
                </button>
            </div>
        </div>
    </header>

    <main class="main">
        <aside class="aside">
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__list-item"></li>
                    <li class="header__list-item"></li>
                    <li class="header__list-item"></li>
                    <li class="header__list-item"></li>
                    <li class="header__list-item"></li>
                    <li class="header__list-item"></li>
                    <li class="header__list-item"></li>
                    <!-- <li class="header__list-item">lor</li>
                    <li class="header__list-item">lor</li>
                    <li class="header__list-item">lor</li> -->
                </ul>
            </nav>
        </aside>
        <section class="user-menu">
            <div class="user-menu__wrapper">
                <figure class="card card--transparent">
                    <img src="../../sources/images/photo.jpeg" alt="Gallery Image" class="user-menu__image">
                    <figcaption class="user-menu__caption">User#0000</figcaption>
                </figure>
                <p class="user-menu__p">Lorem ipsum dolor sit amet consectetur adipisicin</p>
                <img src="../../sources/images/photo.jpeg" alt="Gallery Image" class="user-menu__second-image">
            </div>
        </section>

        <section class="gallery">
            <figure class="card">
                <div class="card__figure">
                    <img src="../../sources/images/photo.jpeg" alt="Gallery Image" class="card__image">
                </div>
                <figcaption class="card__caption">Lorem</figcaption>
            </figure>
            <figure class="card">
                <div class="card__figure">
                    <img src="../../sources/images/photo.jpeg" alt="Gallery Image" class="card__image">
                </div>
                <figcaption class="card__caption">Lorem</figcaption>
            </figure>
            <figure class="card">
                <div class="card__figure">
                    <img src="../../sources/images/photo.jpeg" alt="Gallery Image" class="card__image">
                </div>
                <figcaption class="card__caption">Lorem</figcaption>
            </figure>
            <figure class="card">
                <div class="card__figure">
                    <img src="../../sources/images/photo.jpeg" alt="Gallery Image" class="card__image">
                </div>
                <figcaption class="card__caption">Lorem</figcaption>
            </figure>
            <!-- <figure class="card">
                <div class="card__figure">
                    <img src="../../sources/images/photo.jpeg" alt="Gallery Image" class="card__image">
                </div>
                <figcaption class="card__caption">Lorem</figcaption>
            </figure>
            <figure class="card">
                <div class="card__figure">
                    <img src="../../sources/images/photo.jpeg" alt="Gallery Image" class="card__image">
                </div>
                <figcaption class="card__caption">Lorem</figcaption>
            </figure> -->
        </section>
    </main>
</body>

</html>