<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../sources/css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- fonts -->
    <script src="https://kit.fontawesome.com/572b6f1886.js" crossorigin="anonymous"></script>
    <!-- fonts -->
    <title>Login</title>
</head>

<body>
    <main class="main">
        <!-- component -->
        <div class="card">
            <div class="card__header">
                <div class="card__figure">
                    <img src="../../sources/images/slime_logo_blanco.png" alt="Logo" class="card__image">
                </div>
                <button class="button button--users"><i class="fas icon icon--purple fa-users"></i>Code society, Slime</button>
            </div>
            <div class="card__body">
                <div class="card__info-container">
                    <div class="card__info">
                        <h1 class="card__title">Slimes</h1>
                        <p class="card__paragraph">Slime.es es la red de portafolios oficial de la comunidad de diseñadores alojada en discord “Slime”.</p>
                        <p class="card__paragraph">Hace tiempo en un prado, nuestra pequeña criatura FANtástica se
                            decidió por aventurarse en un mundo lleno de sorpresas, sobrepasando cada una de ellas para
                            convertirse en la mejor versión de si misma, “tratar es querer y querer es poder” es lo que se
                            repite nuestra fiel compañera en su largo camino...¿Que le espera?, ¿Podré encontrar lo que
                            busca?, son algúnas de las preguntas que nos hacemos como diseñadores, ilustradores o creadores visuales.
                        </p>
                        <!--  -->
                        <p class="card__paragraph">Hace tiempo en un prado, nuestra pequeña criatura FANtástica se
                            decidió por aventurarse en un mundo lleno de sorpresas, sobrepasando cada una de ellas para
                            convertirse en la mejor versión de si misma, “tratar es querer y querer es poder” es lo que se
                            repite nuestra fiel compañera en su largo camino...¿Que le espera?, ¿Podré encontrar lo que
                            busca?, son algúnas de las preguntas que nos hacemos como diseñadores, ilustradores o creadores
                            visuales.
                        </p>
                        <p class="card__paragraph">Hace tiempo en un prado, nuestra pequeña criatura FANtástica se
                            decidió por aventurarse en un mundo lleno de sorpresas, sobrepasando cada una de ellas para
                            convertirse en la mejor versión de si misma, “tratar es querer y querer es poder” es lo que se repite
                            nuestra fiel compañera en su largo camino...¿Que le espera?, ¿Podré encontrar lo que
                            busca?, son algúnas de las preguntas que nos hacemos como diseñadores, ilustradores o creadores visuales.
                        </p>
                        <p class="card__paragraph">Hace tiempo en un prado, nuestra pequeña criatura FANtástica se
                            decidió
                            por aventurarse en un mundo lleno de sorpresas, sobrepasando cada una de ellas para
                            convertirse en la mejor versión de si misma, “tratar es querer y querer es poder” es lo que se
                            repite nuestra fiel compañera en su largo camino...¿Que le espera?, ¿Podré encontrar lo que
                            busca?, son algúnas de las preguntas que nos hacemos como diseñadores, ilustradores o creadores
                            visuales.
                        </p>
                    </div>
                </div>
                <div class="card__actions">
                    <!-- Agragar title y aria-label -->
                    <button class="button button--discord"><i class="icon fab fa-discord"></i></button>
                    <button class="button button--user"><i class="icon fas fa-user"></i></button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>