<!--<cs-button icon="fab fa-discord" classBtn="button--discord" (onClick)="iniciarSesion()"></cs-button>
<cs-button icon="fas fa-user" classBtn="button--user" (onClick)="checkUSer()"></cs-button>-->
<div class="card">
  <cs-banner class="card__header"></cs-banner>
  <app-cs-landing-card class="card__body">
      <!-- <div class="card__actions">
          <cs-button (clickBtn)="iniciarSesion()"></cs-button>
          <cs-button (clickBtn)="checkUSer()"></cs-button>
      </div> -->
  </app-cs-landing-card>
</div>


