<header class="header">
  <div class="header__wrapper">
      <div class="filter">
          <i class="fas fa-search header__icon search-icon"></i>
          <input type="text" id="filter" class="filter__input">
      </div>
      <div class="header__menu">
          <button class="button header__button button--menu-icon">
              <i class="fas fa-bars"></i>
          </button>
          <button class="button header__button">
              <i class="fas fa-briefcase"></i>
          </button>
          <button class="button header__button header__button--flex">
              <span class="button__username">
                  User#0000
              </span>
              <i class="fas fa-user"></i>
          </button>
      </div>
  </div>
</header>