*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: var(--color_dark);
}

p {
  font-size: 1rem;
}

.section_aside {
  height: 100vh;
  padding: 50px 0px 50px 50px;
  margin-right: 25px;
}

.aside_items {
  overflow: auto;
  height: 100%;
  width: var(--width_aside);
}

.section_aside .aside_item {
  min-height: 85px;
  width: var(--width_aside);
  background: var(--color_primary);
  margin-bottom: 20px;
  border-radius: 28px;
}

.section_aside .aside_item.max-width-item {
  height: 260px;
}

.section_aside .aside_item.special {
  height: 20%;
  min-height:20%;
}

.content_main {
  padding: 50px 0;
  width: 50%;
  margin-right: 25px;
  /* margin-right: 25px; */
}

.content_main .content_search {
  width: 100%;
  height: 85px;
  background: var(--color_bg);
  border-radius: 28px;
}

.content_articles {
  margin-top: 25px;
  height: calc(100vh - 185px);
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.article_item {
  width: 100%;
  margin-bottom: 25px;
  height: auto;
  background: var(--color_bg);
  border-radius: 28px;
  padding: 25px;
}

.article_item_img {
  border-radius: 28px;
  width: 100%;
  background: var(--color_bg2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid var(--color_bg2);
}
.article_item_img img {
  width: 100%;
}
.article_item_title {
  padding: 10px;
  width: 100%;
  background: var(--color_bg2);
  color: var(--color_bg);
  border-radius: 28px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.article_item_content {
  width: 100%;
  border-radius: 28px;
  background: var(--color_bg2);
  margin-top: 25px;
  min-height: 250px;
}

.content_users {
  width: calc(100% - 215px - 50%);
  padding: 50px 50px 50px 0px;
}

.user_section {
  width: 100%;
  height: 100%;
  border-radius: 28px;

  background: var(--color_bg);
}

@media screen and (max-width: 1400px) {
  :root {
    --width_aside: 100%;
  }
  .content_main {
    width: 80%;
    padding: 50px 50px 50px 0;
    margin: 0;
  }
  .section_aside {
    width: 20%;
  }

  .content_users {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  body {
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    padding: 20px;
  }
  .section_aside {
    padding: 0;
    display: none;
  }
  .content_main .content_search {
    height: 45px;
  }
  .content_main {
    width: 100%;
    padding: 0;
  }
  .content_articles {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .article_item {
    padding: 10px;
    height: 450px;
  }
  .article_item .article_item_title {
    margin-top: 10px;
  }
  .article_item .article_item_content {
    height: 230px;
    margin-top: 10px;
    min-height: 230px;
  }
  .article_item_img {
    width: 100%;
  }
  .article_item .article_item_img img {
    width: 100%;
  }
  .content_articles .article_item:nth-child(3) {
    display: none;
  }
  .content_articles {
    height: auto;
  }
  .partner_section {
    margin-top: 25px;
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .partner_section .partner_item {
    width: 45px;
    height: 45px;
    border: 4px solid var(--color_primary);
    background: #9510C7;
    border-radius: 50%;
  }
  .content_users {
    display: block;
    height: 200px;
    width: 100%;
    padding: 0;
  }
}


::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  border-radius: 7px;
}

::-webkit-scrollbar {
  width:7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(196, 196, 196, 0.10);

}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

::-webkit-scrollbar-button {
  display: none;
}
