.button{
  cursor: pointer;
}

/* .button--primary {
  background-color: #9510C7;
}

.button--secundary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  margin-top: .5em;
} */
