:root {
    --bg-colour: #323232;
    --info-bg-colour: #C9C9C93D;
    --text-box-colour: #C4C4C41F;
    --txt-colour: #FFFFFF80;
    --title-font: Insaniburger, sans-serif;
    --txt-font: "Futura Std", sans-serif;
    /* scroller */
    --scrollbarBG: #C4C4C41A;
    --thumbBG: #C4C4C480;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

*, *::before, *::after {
    scrollbar-width: thin;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track, .card__figure {
    border-radius: 1em;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
}

::-webkit-scrollbar-button {
    display: none;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: var(--txt-colour);
    font-family: var(--title-font);
    background-color: var(--bg-colour);
    background-image: url(../../../sources/images/bg-pattern.svg), url(../../../sources/images/bg-pattern2.svg);
    background-position: left, right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    max-width: 100%;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: min(70vh, 500px);
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
}

.card__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    background-image: -o-linear-gradient(top, #9510C7 0%, rgba(0, 0, 0, 0) 100%), -o-linear-gradient(278.48deg, #BD14FA 6.49%, #bd14fa9b 45.15%, #bd14fa00 242.46%);
    background-image: linear-gradient(180deg, #9510C7 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(171.52deg, #BD14FA 6.49%, #bd14fa9b 45.15%, #bd14fa00 242.46%);
}

.card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1em;
}

.card__info-container {
    overflow: auto;
    border-radius: 1em 3em 3em 1em / 1em 12em 12em 1em;
}

.card__info {
    padding: 1em;
    background-color: var(--info-bg-colour);
}

.card__title {
    margin-top: 0;
    text-align: center;
    font-family: var(--title-font);
}

.card__title::after {
    content: '.es';
}

.card__title, .card__paragraph, .button {
    border-radius: .5rem;
}

.card__title, .card__paragraph {
    background-color: var(--text-box-colour);
}

.card__paragraph {
    padding: 1em;
}

.card__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.button {
    border-width: 0;
    width: 7rem;
    height: 2.5rem;
    color: inherit;
    background-color: var(--info-bg-colour);
}

.button--discord {
    background-color: #9510C7;
}

.button--users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    margin-top: .5em;
}

.icon {
    font-size: 1.5em;
    color: #fff;
}

.icon--purple {
    color: #9510C7;
}

@media only screen and (max-width:989px) {
    body {
        background-image: url(../../../sources/images/bg-pattern.svg);
        background-position: left;
    }
    img {
        max-height: 100%;
    }
    .card {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 15vh 65vh;
        grid-template-rows: 15vh 65vh;
        width: min(250px, 80%);
        -webkit-transform: translateY(calc(-40px - -.5em));
        -ms-transform: translateY(calc(-40px - -.5em));
        transform: translateY(calc(-40px - -.5em));
    }
    .card__info-container, .card__figure {
        border-radius: 2em;
    }
    .card__info-container::-webkit-scrollbar, .button--users {
        display: none;
    }
}

@media only screen and (min-width:990px) {
    .card {
        width: min(700px, 50%);
    }
    .card__header {
        -ms-flex-negative: 1.04;
        flex-shrink: 1.04;
    }
    .card__title {
        font-size: 4rem;
    }
    .card__info-container {
        padding-right: 1em;
    }
    .button--user {
        margin-right: 2rem;
    }
}

@font-face {
    font-family: "Futura Std";
    src: url(../../../sources/fonts/furura-std-4/FuturaStdMedium.woff);
}

@font-face {
    font-family: "Insaniburger";
    src: url(../../../sources/fonts/insaniburger/Insanibu.ttf);
}