<div class="card__info-container">
  <div class="card__info">
    <h1 class="card__title">Slimes</h1>
    <p class="card__paragraph">
      {{paragraph[0]}}
    </p>
    <p class="card__paragraph">
      {{paragraph[1]}}
    </p>
  </div>
</div>
<div class="card__actions">
  <cs-button classBtn="button button--purple icon icon--discord" (onClick)="iniciarSesion()"></cs-button>
  <cs-button classBtn="button icon icon--person" (onClick)="checkUSer()"></cs-button>
  <!-- <button class="button button--purple icon icon--discord"></button> -->
  <!-- <button class="button icon icon--person"></button> -->
</div>
